body{
  margin: 5%;
}

div{
    width: 100px;
    height: 100px;
    background-color:#776df3;
    margin: 20px;
    transition: 2.5s;
}


#block1:hover{
    transform:rotate(360deg);
    background-color: #c56df3;

}

#block2:hover{
	background-color: #c56df3;
	transform: scale(1.5,1.5);
}

#block3:hover{
    background-color: #c56df3;
    transform: skew(20deg,20deg);
}

#block4:hover{
    background-color: #c56df3;
    transform: translate(100px);
}
